body{
  background-color: #d4e3fc;
}

.profileDivWarraper{
  margin: auto;
  position: relative;
  top: 50px;
  width: 90%;
  height:600px;
  margin: auto;

}
#userNameDiv,#firstNameDiv,#lastNameDiv,#emailDiv,#phoneDiv,#addressDiv{
  margin: auto;
  width: 90%;
  min-height: 130px;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}
#firstNamebox,#lastNamebox,#emailbox,#phonebox,#addressbox{
  min-height:90px;
}
#userNameDivTitle,#firstNameDivTitle,#lastNameDivTitle,#emailDivTitle{
  margin-left: 20px;
}
#userNameLabel,#firstNameLabel,#lastNameLabel,#emailLabel{
  margin-left: 20px;
}
#firstNameEditeBtn,#lastNameEditeBtn,#emailEditeBtn,#phoneEditeBtn,#addressEditeBtn{
  float: right;

}
#firstNameIp,#lastNameIp,#emailIp{
  width: 90%;
  margin: auto;
  display: flex;
}
/*
.profileSideDiv{
  width: 100%;
  float: left;
  border-right: 1px solid black;
}


#proSideDivBtn{
  display: flex;
  margin: auto;
  width: 200px;
  background-color: #03a9f4;
  color: white;
  border: 2px solid #03a9f4;
  font-weight: bold;
}
#proSideDivBtn:hover{
  color: #03a9f4;
  background-color: white;
  border: 2px solid #03a9f4;
}
*/
